@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  font-family: Roboto;
  overflow-x: hidden;
}

header {
  background-color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  padding: 20px;
}

nav div ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav div ul li a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
}

nav div ul li a:hover {
  color: #febe01;
  text-decoration: none;
}

.banner img {
  width: 100vw;
}

.logo {
  width: 150px;
  height: 60px;
}

.section-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans {
  display: flex;
  justify-content: space-between;
}
.plan-black {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.content {
  background-color: white;
}

.content-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febe01;
  max-width: 50%;
  margin: -30px auto 20px;
  padding: 5px;
  color: #000 !important;
}
.content-yellow span {
  color: #000;
}
.content-yellow p {
  margin: 2px;
  color: #fff;
}

.content-white {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.content-white a {
  background-color: #d52b1e;
  padding: 22px 40px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.plan-smart {
  background-color: #febe01;
  color: #fff;
  padding: 20px;
}


.content-black {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  max-width: 50%;
  margin: -30px auto 20px;
  padding: 5px;
}
.content-black span {
  color: #febe01;
}
.content-black p {
  margin: 2px;
  color: #fff;
}

