@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #212529;
  font-family: Roboto;
  overflow-x: hidden;
}

header {
  background-color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav div ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
}

nav div ul li a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

nav div ul li a:hover {
  color: #febe01;
  text-decoration: none;
}

.banner img {
  width: 100vw;
}

.logo {
  width: 150px;
  height: 60px;
}
.choice-plans-title{
  color: #fff;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}
.choice-plans-title h2{
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 1em;
}
.choice-plans-title span{
  color:#febe01;
}
.choice-plans-title p{
  font-size: 22px;
}

.plans-smartfit { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px 0;
}

.content { 
  flex-direction: column;
  text-align: center;
}

.black-block { 
  background-color: black;
  color: white;
  padding: 10px;
}

.white-block { 
  width: 100%; 
  background-color: white;
  height: 200px;
  margin: 0;
}

.white-block ul li{
  list-style: none;
  font-size: 14px;
}
.button-block { 
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

.button-block button { 
  background-color:#d52b1e;
  padding: 22px 40px;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
}

.button-block span { 
  display: block;
}

.app{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 100px;
}